In [1]:
import os
os.getcwd()

'C:\\Users\\Maria\\Documents'

In [2]:
import pandas as pd

In [15]:
df = pd.read_csv(r'relax_challenge\takehome_user_engagement.csv')

In [16]:
df.head(20)

             time_stamp  user_id  visited
0   2014-04-22 03:53:30        1        1
1   2013-11-15 03:45:04        2        1
2   2013-11-29 03:45:04        2        1
3   2013-12-09 03:45:04        2        1
4   2013-12-25 03:45:04        2        1
5   2013-12-31 03:45:04        2        1
6   2014-01-08 03:45:04        2        1
7   2014-02-03 03:45:04        2        1
8   2014-02-08 03:45:04        2        1
9   2014-02-09 03:45:04        2        1
10  2014-02-13 03:45:04        2        1
11  2014-02-16 03:45:04        2        1
12  2014-03-09 03:45:04        2        1
13  2014-03-13 03:45:04        2        1
14  2014-03-31 03:45:04        2        1
15  2013-03-19 23:14:52        3        1
16  2013-05-22 08:09:28        4        1
17  2013-01-22 10:14:20        5        1
18  2013-12-19 03:37:06        6        1
19  2012-12-20 13:24:32        7        1

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [18]:
df.time_stamp = pd.to_datetime(df.time_stamp)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [21]:
df['intv_7d'] = df['time_stamp'].dt.round('7D')

In [22]:
df.head(15)

            time_stamp  user_id  visited    intv_7d
0  2014-04-22 03:53:30        1        1 2014-04-24
1  2013-11-15 03:45:04        2        1 2013-11-14
2  2013-11-29 03:45:04        2        1 2013-11-28
3  2013-12-09 03:45:04        2        1 2013-12-12
4  2013-12-25 03:45:04        2        1 2013-12-26
5  2013-12-31 03:45:04        2        1 2014-01-02
6  2014-01-08 03:45:04        2        1 2014-01-09
7  2014-02-03 03:45:04        2        1 2014-02-06
8  2014-02-08 03:45:04        2        1 2014-02-06
9  2014-02-09 03:45:04        2        1 2014-02-06
10 2014-02-13 03:45:04        2        1 2014-02-13
11 2014-02-16 03:45:04        2        1 2014-02-13
12 2014-03-09 03:45:04        2        1 2014-03-06
13 2014-03-13 03:45:04        2        1 2014-03-13
14 2014-03-31 03:45:04        2        1 2014-04-03

In [49]:
df[df.user_id==10]

             time_stamp  user_id  visited    intv_7d
20  2013-01-16 22:08:03       10        1 2013-01-17
21  2013-01-22 22:08:03       10        1 2013-01-24
22  2013-01-30 22:08:03       10        1 2013-01-31
23  2013-02-04 22:08:03       10        1 2013-02-07
24  2013-02-06 22:08:03       10        1 2013-02-07
25  2013-02-14 22:08:03       10        1 2013-02-14
26  2013-02-17 22:08:03       10        1 2013-02-21
27  2013-02-19 22:08:03       10        1 2013-02-21
28  2013-02-26 22:08:03       10        1 2013-02-28
29  2013-03-01 22:08:03       10        1 2013-02-28
30  2013-03-02 22:08:03       10        1 2013-02-28
31  2013-03-05 22:08:03       10        1 2013-03-07
32  2013-03-09 22:08:03       10        1 2013-03-07
33  2013-03-15 22:08:03       10        1 2013-03-14
34  2013-03-17 22:08:03       10        1 2013-03-21
35  2013-03-20 22:08:03       10        1 2013-03-21
36  2013-03-22 22:08:03       10        1 2013-03-21
37  2013-03-26 22:08:03       10        1 2013-03-28
38  2013-04-07 22:08:03       10        1 2013-04-11
39  2013-04-11 22:08:03       10        1 2013-04-11
40  2013-04-13 22:08:03       10        1 2013-04-11
41  2013-04-14 22:08:03       10        1 2013-04-18
42  2013-04-17 22:08:03       10        1 2013-04-18
43  2013-04-19 22:08:03       10        1 2013-04-18
44  2013-04-24 22:08:03       10        1 2013-04-25
45  2013-04-26 22:08:03       10        1 2013-04-25
46  2013-04-27 22:08:03       10        1 2013-04-25
47  2013-04-30 22:08:03       10        1 2013-05-02
48  2013-05-01 22:08:03       10        1 2013-05-02
49  2013-05-02 22:08:03       10        1 2013-05-02
..                  ...      ...      ...        ...
274 2014-05-05 22:08:03       10        1 2014-05-08
275 2014-05-06 22:08:03       10        1 2014-05-08
276 2014-05-07 22:08:03       10        1 2014-05-08
277 2014-05-08 22:08:03       10        1 2014-05-08
278 2014-05-09 22:08:03       10        1 2014-05-08
279 2014-05-10 22:08:03       10        1 2014-05-08
280 2014-05-11 22:08:03       10        1 2014-05-15
281 2014-05-12 22:08:03       10        1 2014-05-15
282 2014-05-13 22:08:03       10        1 2014-05-15
283 2014-05-14 22:08:03       10        1 2014-05-15
284 2014-05-15 22:08:03       10        1 2014-05-15
285 2014-05-16 22:08:03       10        1 2014-05-15
286 2014-05-17 22:08:03       10        1 2014-05-15
287 2014-05-18 22:08:03       10        1 2014-05-22
288 2014-05-19 22:08:03       10        1 2014-05-22
289 2014-05-20 22:08:03       10        1 2014-05-22
290 2014-05-21 22:08:03       10        1 2014-05-22
291 2014-05-22 22:08:03       10        1 2014-05-22
292 2014-05-23 22:08:03       10        1 2014-05-22
293 2014-05-24 22:08:03       10        1 2014-05-22
294 2014-05-25 22:08:03       10        1 2014-05-29
295 2014-05-26 22:08:03       10        1 2014-05-29
296 2014-05-27 22:08:03       10        1 2014-05-29
297 2014-05-28 22:08:03       10        1 2014-05-29
298 2014-05-29 22:08:03       10        1 2014-05-29
299 2014-05-30 22:08:03       10        1 2014-05-29
300 2014-05-31 22:08:03       10        1 2014-05-29
301 2014-06-01 22:08:03       10        1 2014-06-05
302 2014-06-02 22:08:03       10        1 2014-06-05
303 2014-06-03 22:08:03       10        1 2014-06-05

[284 rows x 4 columns]

In [24]:
df_7dwc = df.groupby(['user_id', 'intv_7d']).sum()

In [26]:
df_7dwc

                    visited
user_id intv_7d
1       2014-04-24        1
2       2013-11-14        1
        2013-11-28        1
        2013-12-12        1
        2013-12-26        1
        2014-01-02        1
        2014-01-09        1
        2014-02-06        3
        2014-02-13        2
        2014-03-06        1
        2014-03-13        1
        2014-04-03        1
3       2013-03-21        1
4       2013-05-23        1
5       2013-01-24        1
6       2013-12-19        1
7       2012-12-20        1
10      2013-01-17        1
        2013-01-24        1
        2013-01-31        1
        2013-02-07        2
        2013-02-14        1
        2013-02-21        2
        2013-02-28        3
        2013-03-07        2
        2013-03-14        1
        2013-03-21        3
        2013-03-28        1
        2013-04-11        3
        2013-04-18        3
...                     ...
11981   2013-04-04        1
11982   2013-12-05        1
11983   2013-08-01        1
11984   2014-02-13        1
11986   2012-06-28        1
11987   2013-03-14        1
11988   2014-03-20        4
        2014-03-27        2
        2014-04-03        3
        2014-04-10        2
        2014-04-17        2
        2014-04-24        1
        2014-05-01        4
        2014-05-08        1
        2014-05-15        3
        2014-05-22        5
        2014-05-29        3
11989   2013-09-05        1
11990   2013-07-04        1
11991   2014-04-24        2
        2014-05-01        1
        2014-05-15        1
        2014-05-29        1
11992   2014-04-10        1
11995   2013-10-24        1
11996   2013-09-05        1
11997   2013-01-17        1
11998   2014-05-01        1
11999   2012-05-31        1
12000   2014-01-23        1

[68856 rows x 1 columns]

In [28]:
df_7dwc = df_7dwc.reset_index()

In [29]:
df_7dwc.head()

   user_id    intv_7d  visited
0        1 2014-04-24        1
1        2 2013-11-14        1
2        2 2013-11-28        1
3        2 2013-12-12        1
4        2 2013-12-26        1

In [31]:
df_7dwc_max = df_7dwc.groupby('user_id').max()

In [34]:
df_7dwc_max = df_7dwc_max.reset_index()
df_7dwc_max.head()

   user_id    intv_7d  visited
0        1 2014-04-24        1
1        2 2014-04-03        3
2        3 2013-03-21        1
3        4 2013-05-23        1
4        5 2013-01-24        1

In [38]:
df_7dwc_max['adopted'] = df_7dwc_max['visited'].apply(lambda x: 1 if x>2 else 0)

In [39]:
df_7dwc_max.head()

   user_id    intv_7d  visited  adopted
0        1 2014-04-24        1        0
1        2 2014-04-03        3        1
2        3 2013-03-21        1        0
3        4 2013-05-23        1        0
4        5 2013-01-24        1        0

In [40]:
df_adopted = df_7dwc_max[['user_id', 'adopted']]
df_adopted.head()

   user_id  adopted
0        1        0
1        2        1
2        3        0
3        4        0
4        5        0

In [41]:
df_users = pd.read_csv(r'relax_challenge\takehome_users.csv')
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [42]:
df_merged = df_users.merge(df_adopted, how='left', left_on='object_id', right_on='user_id')
df_merged.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,user_id,adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,1.0,0.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2.0,1.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,3.0,0.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,4.0,0.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,5.0,0.0

In [44]:
df_mext = pd.get_dummies(df_merged, columns=['creation_source'])

### Data Completeness
Let's have a look at missing values in the data

In [45]:
df_mext.isnull().sum()

object_id                                0
creation_time                            0
name                                     0
email                                    0
last_session_creation_time            3177
opted_in_to_mailing_list                 0
enabled_for_marketing_drip               0
org_id                                   0
invited_by_user_id                    5583
user_id                               3177
adopted                               3177
creation_source_GUEST_INVITE             0
creation_source_ORG_INVITE               0
creation_source_PERSONAL_PROJECTS        0
creation_source_SIGNUP                   0
creation_source_SIGNUP_GOOGLE_AUTH       0
dtype: int64

Let's look at the cases where the user_id is null. We find that these users never logged in. That's why they do not have a last_session_creation_time as well. It will be best to drop all such users from the dataframe.

In [54]:
df_mext[df_mext.user_id.isnull()]

,object_id,creation_time,name,email,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,user_id,adopted,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,NaN,1,1,74,NaN,NaN,NaN,0,0,1,0,0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,NaN,0,0,302,NaN,NaN,NaN,0,0,1,0,0
11,12,2014-04-17 23:48:38,Mathiesen L�rke,LaerkeLMathiesen@cuvox.de,NaN,0,0,130,9270.0,NaN,NaN,0,1,0,0,0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,NaN,0,0,175,NaN,NaN,NaN,0,0,1,0,0
15,16,2013-02-11 10:09:50,Engel Ren�,ReneEngel@hotmail.com,NaN,0,0,211,NaN,NaN,NaN,0,0,1,0,0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,NaN,0,0,2,3153.0,NaN,NaN,1,0,0,0,0
25,26,2013-07-28 00:53:32,Wexler Florian,FlorianWexler@jourrapide.com,NaN,0,0,56,11857.0,NaN,NaN,0,1,0,0,0
31,32,2013-04-17 16:21:30,Perez Timothy,TimothyJPerez@yahoo.com,NaN,1,1,98,NaN,NaN,NaN,0,0,1,0,0
33,34,2014-02-03 20:55:18,Holm Sara,SaraMHolm@hotmail.com,NaN,0,0,33,3721.0,NaN,NaN,0,1,0,0,0
34,35,2013-08-01 10:55:26,Krueger Dieter,DieterKrueger@gustr.com,NaN,0,0,59,NaN,NaN,NaN,0,0,1,0,0
37,38,2014-05-25 06:59:56,Eiffel Marko,MarkoEiffel@gmail.com,NaN,0,0,208,NaN,NaN,NaN,0,0,1,0,0
38,39,2013-09-10 23:09:40,Winter Finley,FinleyWinter@cuvox.de,NaN,1,0,332,3335.0,NaN,NaN,0,1,0,0,0
39,40,2014-05-26 10:29:03,Santiago Shirley,ShirleyJSantiago@gmail.com,NaN,0,0,2,5377.0,NaN,NaN,1,0,0,0,0
51,52,2014-04-07 22:53:31,Braun Thomas,ThomasBraun@yahoo.com,NaN,0,0,0,NaN,NaN,NaN,0,0,1,0,0
61,62,2013-07-09 14:08:31,Sears Amanda,AmandaGSears@yahoo.com,NaN,0,0,347,NaN,NaN,NaN,0,0,0,1,0
69,70,2014-05-30 04:43:46,Bourchier Alex,AlexBourchier@gmail.com,NaN,0,0,184,10152.0,NaN,NaN,1,0,0,0,0
70,71,2013-12-01 20:13:21,Cornell Calvin,CalvinSCornell@gmail.com,NaN,0,0,310,NaN,NaN,NaN,0,0,1,0,0
78,79,2013-05-29 20:17:43,Hamilton Carrie,CarrieJHamilton@gmail.com,NaN,0,0,401,9912.0,NaN,NaN,1,0,0,0,0
92,93,2012-09-10 08:07:18,J�rgensen Michael,MichaelSJrgensen@yahoo.com,NaN,0,0,53,2126.0,NaN,NaN,0,1,0,0,0
101,102,2013-03-29 03:30:44,Gottschalk Gabriele,GabrieleGottschalk@gustr.com,NaN,0,0,307,NaN,NaN,NaN,0,0,1,0,0
103,104,2014-05-09 21:38:17,Lima Gabriel,GabrielAlmeidaLima@jourrapide.com,NaN,0,1,370,NaN,NaN,NaN,0,0,1,0,0
107,108,2013-04-16 20:10:27,Pabst Kristin,KristinPabst@jourrapide.com,NaN,1,0,306,3522.0,NaN,NaN,1,0,0,0,0
117,118,2014-01-04 11:50:42,Quirk Will,WillQuirk@yahoo.com,NaN,1,1,12,6799.0,NaN,NaN,1,0,0,0,0
119,120,2013-03-11 07:52:10,Burger Patrick,jkyoycnk@lyoxx.com,NaN,1,0,86,9709.0,NaN,NaN,1,0,0,0,0
121,122,2013-03-18 07:10:14,Schreiber Christin,ChristinSchreiber@hotmail.com,NaN,0,0,42,8068.0,NaN,NaN,1,0,0,0,0
128,129,2013-01-21 01:04:45,Cousin Derrick,useteqqj@wgobo.com,NaN,0,0,193,NaN,NaN,NaN,0,0,1,0,0
129,130,2012-07-03 14:09:15,Swift Sean,SeanSwift@yahoo.com,NaN,0,0,406,NaN,NaN,NaN,0,0,1,0,0
130,131,2013-02-07 02:31:15,Aponte Bert,BertGAponte@gmail.com,NaN,0,0,48,NaN,NaN,NaN,0,0,1,0,0
133,134,2013-05-29 09:48:15,Bolton Thomas,ThomasEBolton@jourrapide.com,NaN,0,0,4,NaN,NaN,NaN,0,0,1,0,0
136,137,2012-11-15 23:07:41,Renwick Luca,LucaRenwick@hotmail.com,NaN,0,0,9,NaN,NaN,NaN,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11877,11878,2012-11-14 08:47:22,Poulsen Frederik,FrederikNPoulsen@gmail.com,NaN,1,0,79,NaN,NaN,NaN,0,0,1,0,0
11882,11883,2014-04-24 14:01:20,Erskine Samantha,SamanthaErskine@yahoo.com,NaN,0,0,45,NaN,NaN,NaN,0,0,0,1,0
11885,11886,2013-05-28 05:05:05,Svendsen Anders,ndbvfjes@fukqx.com,NaN,0,0,107,6618.0,NaN,NaN,0,1,0,0,0
11886,11887,2012-10-31 01:39:46,Plate Joseph,JosephPlate@yahoo.com,NaN,0,0,75,NaN,NaN,NaN,0,0,1,0,0
11889,11890,2012-10-25 12:04:50,Bowen Elise,EliseBowen@cuvox.de,NaN,1,0,105,NaN,NaN,NaN,0,0,1,0,0
11890,11891,2014-05-13 18:27:42,Eriksen Katrine,KatrineTEriksen@yahoo.com,NaN,0,0,218,NaN,NaN,NaN,0,0,1,0,0
11891,11892,2014-04-09 08:32:48,Lassen Mille,MilleJLassen@yahoo.com,NaN,1,0,322,9162.0,NaN,NaN,1,0,0,0,0
11895,11896,2014-02-15 01:24:52,Morley Erin,ErinMorley@jourrapide.com,NaN,0,0,66,5834.0,NaN,NaN,0,1,0,0,0
11899,11900,2012-09-12 04:55:10,Oliveira Diogo,DiogoSilvaOliveira@gmail.com,NaN,0,0,4,NaN,NaN,NaN,0,0,1,0,0
11900,11901,2014-02-09 22:23:22,Collier James,JamesKCollier@yahoo.com,NaN,0,0,119,NaN,NaN,NaN,0,0,0,1,0
11913,11914,2013-02-14 21:47:37,Trickett Owen,OwenTrickett@yahoo.com,NaN,0,0,178,NaN,NaN,NaN,0,0,1,0,0
11915,11916,2013-10-14 14:50:19,Greenwood Alex,AlexGreenwood@hotmail.com,NaN,0,0,255,7642.0,NaN,NaN,1,0,0,0,0
11925,11926,2013-09-16 05:43:58,Grunwald Diana,DianaGrunwald@gmail.com,NaN,0,0,202,7794.0,NaN,NaN,1,0,0,0,0
11928,11929,2013-06-13 04:17:57,Pedersen Frederik,FrederikJPedersen@yahoo.com,NaN,1,0,105,NaN,NaN,NaN,0,0,0,1,0
11945,11946,2013-05-25 04:55:25,Garnsey Bianca,BiancaGarnsey@gmail.com,NaN,1,0,0,4871.0,NaN,NaN,0,1,0,0,0
11951,11952,2013-01-20 00:12:52,Robb Jasper,JasperRobb@gmail.com,NaN,0,0,1,801.0,NaN,NaN,0,1,0,0,0
11952,11953,2013-03-13 22:38:48,Garcia Arturo,ArturoHGarcia@hotmail.com,NaN,0,0,148,6247.0,NaN,NaN,0,1,0,0,0
11953,11954,2013-09-27 03:53:02,Brown Linda,LindaRBrown@yahoo.com,NaN,0,0,36,5917.0,NaN,NaN,0,1,0,0,0
11954,11955,2013-12-12 11:27:44,Hofmann Anja,AnjaHofmann@gmail.com,NaN,0,0,29,NaN,NaN,NaN,0,0,1,0,0
11955,11956,2013-08-08 11:44:05,Jepsen Michelle,MichelleJJepsen@gustr.com,NaN,0,0,322,NaN,NaN,NaN,0,0,1,0,0
11965,11966,2013-01-01 02:28:35,Ferreira Luana,LuanaAzevedoFerreira@gmail.com,NaN,0,0,39,NaN,NaN,NaN,0,0,1,0,0
11969,11970,2013-10-19 09:51:09,Bartlett Brooke,BrookeBartlett@gmail.com,NaN,0,0,126,NaN,NaN,NaN,0,0,0,1,0
11970,11971,2013-05-04 06:54:23,Ferreira Beatrice,BeatriceBarbosaFerreira@yahoo.com,NaN,0,0,3,11854.0,NaN,NaN,1,0,0,0,0
11971,11972,2012-09-13 23:23:11,Penington Jamie,JamiePenington@yahoo.com,NaN,0,0,16,7012.0,NaN,NaN,0,1,0,0,0
11972,11973,2012-10-30 03:09:47,Simmons Thomas,ThomasSimmons@gmail.com,NaN,0,0,52,NaN,NaN,NaN,0,0,1,0,0
11975,11976,2013-12-25 22:01:41,Kohl Leah,LeahKohl@hotmail.com,NaN,0,0,248,NaN,NaN,NaN,0,0,1,0,0
11977,11978,2014-04-23 16:28:06,Castro Pedro,PedroCunhaCastro@gustr.com,NaN,1,0,29,NaN,NaN,NaN,0,0,1,0,0
11984,11985,2013-07-08 17:23:26,Jespersen Marcus,MarcusTJespersen@cuvox.de,NaN,0,0,74,NaN,NaN,NaN,0,0,1,0,0
11992,11993,2013-03-28 23:24:21,Townsend Isabel,IsabelTownsend@cuvox.de,NaN,0,0,281,NaN,NaN,NaN,0,0,1,0,0
11993,11994,2012-06-05 04:46:16,Grimstone Joel,conxzghp@eaouk.com,NaN,0,0,84,5450.0,NaN,NaN,1,0,0,0,0

In [56]:
# selecting all rows where user_id is not null
df_clean = df_mext[df_mext.user_id.notnull()]

In [57]:
# check completeness again
df_clean.isnull().sum()

object_id                                0
creation_time                            0
name                                     0
email                                    0
last_session_creation_time               0
opted_in_to_mailing_list                 0
enabled_for_marketing_drip               0
org_id                                   0
invited_by_user_id                    4047
user_id                                  0
adopted                                  0
creation_source_GUEST_INVITE             0
creation_source_ORG_INVITE               0
creation_source_PERSONAL_PROJECTS        0
creation_source_SIGNUP                   0
creation_source_SIGNUP_GOOGLE_AUTH       0
dtype: int64

For the column 'invited_by_user_id', the best option will be to replace NaNs with 0's. There is no user_id 0, so it will mean that these users were not invited by other users.

In [58]:
df_clean = df_clean.fillna(0)

In [60]:
df_clean.isnull().sum()

object_id                             0
creation_time                         0
name                                  0
email                                 0
last_session_creation_time            0
opted_in_to_mailing_list              0
enabled_for_marketing_drip            0
org_id                                0
invited_by_user_id                    0
user_id                               0
adopted                               0
creation_source_GUEST_INVITE          0
creation_source_ORG_INVITE            0
creation_source_PERSONAL_PROJECTS     0
creation_source_SIGNUP                0
creation_source_SIGNUP_GOOGLE_AUTH    0
dtype: int64

In [61]:
df_clean.columns

Index([u'object_id', u'creation_time', u'name', u'email',
       u'last_session_creation_time', u'opted_in_to_mailing_list',
       u'enabled_for_marketing_drip', u'org_id', u'invited_by_user_id',
       u'user_id', u'adopted', u'creation_source_GUEST_INVITE',
       u'creation_source_ORG_INVITE', u'creation_source_PERSONAL_PROJECTS',
       u'creation_source_SIGNUP', u'creation_source_SIGNUP_GOOGLE_AUTH'],
      dtype='object')

At this time, we have a clean dataset and we can start with building the model.

In [64]:
df_X = df_clean.drop(['object_id', 'creation_time', 'name', 'email', 'user_id', 'adopted'], 1)
df_X.head()

,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1.398139e+09,1,0,11,10803.0,1,0,0,0,0
1,1.396238e+09,0,0,1,316.0,0,1,0,0,0
2,1.363735e+09,0,0,94,1525.0,0,1,0,0,0
3,1.369210e+09,0,0,1,5151.0,1,0,0,0,0
4,1.358850e+09,0,0,193,5240.0,1,0,0,0,0

In [65]:
df_y = df_clean['adopted']

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import fbeta_score, make_scorer, recall_score
from sklearn.metrics import classification_report

In [67]:
Xlr, Xtestlr, ylr, ytestlr = train_test_split(df_X, df_y, test_size=0.3)

In [92]:
# Set the parameters by cross-validation

C_ = [0.001, 0.01, 0.1, 1, 10]
tuned_parameters = {'C':C_ , 'solver' : ['newton-cg', 'lbfgs', 'liblinear', 'sag'], 'class_weight': [None, 'balanced']}

scores = ['precision', 'recall', 'f1']

for score in scores:
    print("# Tuning hyper-parameters for %s" % score)
    print

    clf = GridSearchCV(LogisticRegression(), tuned_parameters, cv=5,
                     scoring='%s' % score)
    clf.fit(Xlr, ylr)

    print("Best parameters set found on development set:")
    print
    print(clf.best_params_)
    print
    print("Grid scores on development set:")
    print
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, clf.cv_results_['params']):
        print("%0.3f (+/-%0.03f) for %r"
              % (mean, std * 2, params))
    print

    print("Detailed classification report:")
    print
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print
    y_true, y_pred = ytestlr, clf.predict(Xtestlr)
    print(classification_report(y_true, y_pred))
    print

# Tuning hyper-parameters for precision

Best parameters set found on development set:

{'C': 10, 'solver': 'newton-cg', 'class_weight': 'balanced'}

Grid scores on development set:

0.000 (+/-0.000) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'sag', 'class_weight': None}
0.180 (+/-0.017) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.128 (+/-0.128) for {'C': 0.001, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': None}
0.180 (+/-0.017) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': None}
0.180 (+/-0.017) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'sag', 'class_weight': None}
0.180 (+/-0.018) for {'C': 1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 10, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'sag', 'class_weight': None}
0.181 (+/-0.017) for {'C': 10, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.160 (+/-0.000) for {'C': 10, 'solver': 'sag', 'class_weight': 'balanced'}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.86      0.57      0.69      2205
        1.0       0.20      0.53      0.29       442

avg / total       0.75      0.56      0.62      2647


# Tuning hyper-parameters for recall

Best parameters set found on development set:

{'C': 0.001, 'solver': 'lbfgs', 'class_weight': 'balanced'}

Grid scores on development set:

0.000 (+/-0.000) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'sag', 'class_weight': None}
0.505 (+/-0.092) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.001, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': None}
0.505 (+/-0.092) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': None}
0.505 (+/-0.092) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'sag', 'class_weight': None}
0.506 (+/-0.091) for {'C': 1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.400 (+/-0.980) for {'C': 1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 10, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'sag', 'class_weight': None}
0.507 (+/-0.091) for {'C': 10, 'solver': 'newton-cg', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': 'balanced'}
1.000 (+/-0.000) for {'C': 10, 'solver': 'sag', 'class_weight': 'balanced'}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00      2205
        1.0       0.17      1.00      0.29       442

avg / total       0.03      0.17      0.05      2647


# Tuning hyper-parameters for f1

Best parameters set found on development set:

{'C': 0.001, 'solver': 'lbfgs', 'class_weight': 'balanced'}

Grid scores on development set:

0.000 (+/-0.000) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.001, 'solver': 'sag', 'class_weight': None}
0.265 (+/-0.031) for {'C': 0.001, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.001, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.001, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.001, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': None}
0.265 (+/-0.030) for {'C': 0.01, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.01, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.01, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.01, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': None}
0.265 (+/-0.030) for {'C': 0.1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.1, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 0.1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 1, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 1, 'solver': 'sag', 'class_weight': None}
0.266 (+/-0.031) for {'C': 1, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 1, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 1, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 1, 'solver': 'sag', 'class_weight': 'balanced'}
0.000 (+/-0.000) for {'C': 10, 'solver': 'newton-cg', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': None}
0.000 (+/-0.000) for {'C': 10, 'solver': 'sag', 'class_weight': None}
0.266 (+/-0.030) for {'C': 10, 'solver': 'newton-cg', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 10, 'solver': 'lbfgs', 'class_weight': 'balanced'}
0.276 (+/-0.000) for {'C': 10, 'solver': 'liblinear', 'class_weight': 'balanced'}
0.221 (+/-0.221) for {'C': 10, 'solver': 'sag', 'class_weight': 'balanced'}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.00      0.00      0.00      2205
        1.0       0.17      1.00      0.29       442

avg / total       0.03      0.17      0.05      2647

In [91]:
clf = LogisticRegression(C=10, solver='newton-cg', class_weight='balanced')
clf.fit(Xlr,ylr)
cnf_matrix = confusion_matrix(ytestlr, clf.predict(Xtestlr))
cnf_matrix

array([[1258,  947],
       [ 209,  233]])

In [93]:
from sklearn.preprocessing import normalize
Xlr = normalize(Xlr)
Xtestlr = normalize(Xtestlr)

In [95]:
from sklearn import svm

In [96]:
# Set the parameters by cross-validation
tuned_parameters = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4],
                     'C': [1, 10, 100, 1000]},
                    {'kernel': ['linear'], 'C': [1, 10, 100, 1000]}]

scores = ['precision', 'recall']

for score in scores:
    print("# Tuning hyper-parameters for %s" % score)
    print

    clf = GridSearchCV(svm.SVC(C=1), tuned_parameters, cv=5,
                       scoring='%s_macro' % score)
    clf.fit(Xlr, ylr)

    print("Best parameters set found on development set:")
    print
    print(clf.best_params_)
    print
    print("Grid scores on development set:")
    print
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, clf.cv_results_['params']):
        print("%0.3f (+/-%0.03f) for %r"
              % (mean, std * 2, params))
    print

    print("Detailed classification report:")
    print
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print
    y_true, y_pred = ytestlr, clf.predict(Xtestlr)
    print(classification_report(y_true, y_pred))
    print

# Tuning hyper-parameters for precision

C:\Users\Maria\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Best parameters set found on development set:

{'kernel': 'rbf', 'C': 1, 'gamma': 0.001}

Grid scores on development set:

0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 1, 'gamma': 0.001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 1, 'gamma': 0.0001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 10, 'gamma': 0.001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 10, 'gamma': 0.0001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 100, 'gamma': 0.001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 100, 'gamma': 0.0001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 1000, 'gamma': 0.001}
0.420 (+/-0.000) for {'kernel': 'rbf', 'C': 1000, 'gamma': 0.0001}
0.420 (+/-0.000) for {'kernel': 'linear', 'C': 1}
0.420 (+/-0.000) for {'kernel': 'linear', 'C': 10}
0.420 (+/-0.000) for {'kernel': 'linear', 'C': 100}
0.420 (+/-0.000) for {'kernel': 'linear', 'C': 1000}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.83      1.00      0.91      2205
        1.0       0.00      0.00      0.00       442

avg / total       0.69      0.83      0.76      2647


# Tuning hyper-parameters for recall

Best parameters set found on development set:

{'kernel': 'rbf', 'C': 1, 'gamma': 0.001}

Grid scores on development set:

0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 1, 'gamma': 0.001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 1, 'gamma': 0.0001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 10, 'gamma': 0.001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 10, 'gamma': 0.0001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 100, 'gamma': 0.001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 100, 'gamma': 0.0001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 1000, 'gamma': 0.001}
0.500 (+/-0.000) for {'kernel': 'rbf', 'C': 1000, 'gamma': 0.0001}
0.500 (+/-0.000) for {'kernel': 'linear', 'C': 1}
0.500 (+/-0.000) for {'kernel': 'linear', 'C': 10}
0.500 (+/-0.000) for {'kernel': 'linear', 'C': 100}
0.500 (+/-0.000) for {'kernel': 'linear', 'C': 1000}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.83      1.00      0.91      2205
        1.0       0.00      0.00      0.00       442

avg / total       0.69      0.83      0.76      2647

In [104]:
clf = svm.SVC(kernel='rbf', C=100, probability=True)
# Fit the model on the trainng data.
clf.fit(Xlr, ylr)
cnf_matrix = confusion_matrix(ytestlr, clf.predict(Xtestlr))
cnf_matrix

array([[2205,    0],
       [ 442,    0]])

In [124]:
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from time import time
from scipy.stats import randint as sp_randint
from sklearn.model_selection import RandomizedSearchCV

In [125]:
clf = RandomForestClassifier(n_estimators = 1000, max_features = 2, max_depth=100, n_jobs=-1)
# Fit the model on the trainng data.
clf.fit(Xlr, ylr)
cnf_matrix = confusion_matrix(ytestlr, clf.predict(Xtestlr))
cnf_matrix

array([[2205,    0],
       [ 442,    0]])

In [127]:
clf = RandomForestClassifier(n_estimators=20)

# Utility function to report best scores
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")


# specify parameters and distributions to sample from
param_dist = {"max_depth": [3, None],
              "max_features": sp_randint(2, 8),
              "min_samples_split": sp_randint(2, 8),
              "min_samples_leaf": sp_randint(2, 8),
              "bootstrap": [True, False],
              "criterion": ["gini", "entropy"]}

# run randomized search
n_iter_search = 20
random_search = RandomizedSearchCV(clf, param_distributions=param_dist,
                                   n_iter=n_iter_search)

start = time()
random_search.fit(Xlr, ylr)
print("RandomizedSearchCV took %.2f seconds for %d candidates"
      " parameter settings." % ((time() - start), n_iter_search))
report(random_search.cv_results_)

RandomizedSearchCV took 5.86 seconds for 20 candidates parameter settings.
Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 7, 'min_samples_split': 4, 'criterion': 'entropy', 'max_features': 5, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 7, 'min_samples_split': 7, 'criterion': 'entropy', 'max_features': 4, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 2, 'min_samples_split': 4, 'criterion': 'gini', 'max_features': 5, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 2, 'min_samples_split': 7, 'criterion': 'gini', 'max_features': 4, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 3, 'min_samples_split': 3, 'criterion': 'entropy', 'max_features': 6, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 7, 'min_samples_split': 4, 'criterion': 'gini', 'max_features': 7, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 6, 'min_samples_split': 6, 'criterion': 'gini', 'max_features': 5, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 2, 'min_samples_split': 4, 'criterion': 'gini', 'max_features': 3, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 6, 'min_samples_split': 4, 'criterion': 'entropy', 'max_features': 6, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 7, 'min_samples_split': 2, 'criterion': 'gini', 'max_features': 6, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 5, 'min_samples_split': 6, 'criterion': 'entropy', 'max_features': 4, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 7, 'min_samples_split': 7, 'criterion': 'gini', 'max_features': 2, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 2, 'min_samples_split': 7, 'criterion': 'entropy', 'max_features': 3, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 3, 'min_samples_split': 6, 'criterion': 'gini', 'max_features': 5, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 5, 'min_samples_split': 7, 'criterion': 'entropy', 'max_features': 4, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 7, 'min_samples_split': 6, 'criterion': 'gini', 'max_features': 6, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 3, 'min_samples_split': 2, 'criterion': 'gini', 'max_features': 4, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': True, 'min_samples_leaf': 2, 'min_samples_split': 2, 'criterion': 'entropy', 'max_features': 2, 'max_depth': 3}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 6, 'min_samples_split': 3, 'criterion': 'gini', 'max_features': 4, 'max_depth': None}

Model with rank: 1
Mean validation score: 0.840 (std: 0.000)
Parameters: {'bootstrap': False, 'min_samples_leaf': 5, 'min_samples_split': 6, 'criterion': 'gini', 'max_features': 6, 'max_depth': 3}

Having tried multiple values for the hyperparameters, it seems that svm and random forest are not working well for the problem at hand.